# CHI-SQUARE TEST
# Association between Device Type and Customer Satisfaction

In [1]:
# Contingency table data
import pandas as pd
df = pd.read_csv("E:/DS ASSIGNMENTS/Chi-Squre.csv")
df

       Satisfaction  Smart Thermostat  Smart Light  Total
0    Very Satisfied                50           70    120
1         Satisfied                80          100    180
2           Neutral                60           90    150
3       Unsatisfied                30           50     80
4  Very Unsatisfied                20           50     70
5             Total               240          360    600

In [2]:
# Total counts for rows and columns
df.shape

(6, 4)

In [3]:
# Observed frequencies
pd.crosstab(df['Smart Thermostat'],df['Smart Light'],margins=True)

Smart Light       50  70  90  100  360  All
Smart Thermostat
20                 1   0   0    0    0    1
30                 1   0   0    0    0    1
50                 0   1   0    0    0    1
60                 0   0   1    0    0    1
80                 0   0   0    1    0    1
240                0   0   0    0    1    1
All                2   1   1    1    1    6

In [6]:
# Chi-Square statistics
import researchpy as rp
table, results = rp.crosstab(df['Smart Thermostat'], df['Smart Light'], test= 'chi-square')
print(table)
print(results)

                 Smart Light
Smart Light               50 70 90 100 360 All
Smart Thermostat
20                         1  0  0   0   0   1
30                         1  0  0   0   0   1
50                         0  1  0   0   0   1
60                         0  0  1   0   0   1
80                         0  0  0   1   0   1
240                        0  0  0   0   1   1
All                        2  1  1   1   1   6
                 Chi-square test  results
0  Pearson Chi-square ( 20.0) =   24.0000
1                     p-value =    0.2424
2                  Cramer's V =    1.0000

In [9]:
# Determine the Critical Value
# Significance level(0.05) 
# Degrees of freedom (4)
import scipy.stats as stats
chi_table = stats.chi2.ppf(q = 0.95, df = 4)
print("Critical Value at alpha = 0.05 is ", chi_table.round(4))

Critical Value at alpha = 0.05 is  9.4877

In [14]:
# Conclusion
alpha = 0.05
PVALUE = results.iloc[1:2,1].values

if PVALUE<alpha:
    print("Reject the null hypothesis (H0). There is a significant association between the type of device and customer satisfaction level.")
else:
    print("Fail to reject the null hypothesis (H0). There is no significant association between the type of device and customer satisfaction level.")

Fail to reject the null hypothesis (H0). There is no significant association between the type of device and customer satisfaction level.